@font-face {
  font-family: Spartan;
  src: url(./LeagueSpartan-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Spartan;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.pronouns {
  background-color: white;
  border-radius: 0.4rem;
  height: 2.5rem;
}

.subheader {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(218, 81%, 75%);
  text-align: center;
  @media (max-width: 768px) {
    display: None;
  }
}

.margin {
  margin-left: 1rem;
  margin-right: 1rem;
  @media (max-width: 768px) {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    );
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.7) !important;
  backdrop-filter: saturate(200%) blur(25px) !important;
  transition: box-shadow 1s;
}

.bg-glass:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .5);
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(173, 165, 240, 0.5) !important;
  backdrop-filter: saturate(200%) blur(25px) !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #909090;
  border-radius: 5em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #575757;
}

.top {
  position: absolute !important;
  top: 0% !important;
  left: 0% !important;
  width: 100% !important;
  z-index: 1000 !important;
}

.margin {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
  @media (max-width: 768px) {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

#comment-content {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.threadTitleButton {
  /* border-radius: .5rem; */
  width: fit-content;
  /* padding: .5rem; */
  /* z-index: 1000; */
  border: none;
  rotate: 0;
  font-size: 28px;
}

.addThread {
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
  width: 5vh;
  height: 5vh;
  z-index: 1000;
  padding: 0;
  border: none;
  background: none;
  transition: rotate .5s;
}

.addThread:focus {
  rotate: -90deg;
}

.addThreadCard {
  width: 50%;
  position: absolute;
  transform: translate(50%, 50%);
  z-index: 100;
}

.addThreadButton {
  border-radius: .5rem;
  width: 10vh;
  height: 5vh;
  z-index: 1000;
  padding: 0;
  border: none;
  rotate: 0;
}

.createThreadButton {
  background-color: rgba(120, 120, 217, 0.5) !important;
  backdrop-filter: saturate(200%) blur(25px) !important;
  border-radius: .5rem;
  width: fit-content;
  padding: .5rem;
  z-index: 1000;
  border: none;
  rotate: 0;
  transition: all .5s cubic-bezier(0,.06,0,1);
}

.createThreadButton:hover {
  background-color: rgba(120, 120, 217, 1) !important;
  transform: scale(1.3);
  animation: createThreadButtonShadow 2s infinite ease;
}

@keyframes createThreadButtonShadow {
  0% {
    box-shadow: 0px 3px 21px 1px rgba(171,205,255,1);
  }
  25% {
    box-shadow: 3px 0px 21px 1px rgba(171,205,255,1);
  }
  50% {
    box-shadow: 0px -3px 21px 1px rgba(171,205,255,1);
  }
  75% {
    box-shadow: -3px 0px 21px 1px rgba(171,205,255,1);
  }
  100% {
    box-shadow: 0px 3px 21px 1px rgba(171,205,255,1);
  }
}

.cancelButton {
  border-radius: .5rem;
  width: fit-content;
  padding: .5rem;
  z-index: 1000;
  border: none;
  rotate: 0;
}


.tag {
  user-select: none;
	width: fit-content;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: hsl(218, 41%, 15%);
  color: white;
  font-size: 1rem;
  font-weight: 700;
  transition: background-color 0.5s;  
}

.tag:hover {
  background-color: hsl(218, 41%, 25%);
}

.addTagButton {
  border-radius: .5rem;
  z-index: 1000;
  padding: .4rem;
  border: none;
  rotate: 0;
  width: fit-content;
}

.flex1 {
  flex: .2;
}

.flex2 {
  flex: 2;
}

.tags {
  
  display: inline-flex;
  justify-content: center;
}

.alert {
  position: fixed;
  transform: (50%, 50%);
}

.fade-out {
  animation: fadeout 5s;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadein .5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out-tag {
  animation: fadeouttag 1s;
}

@keyframes fadeouttag {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} 
